<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>informacion noticias</title>
</head>
<body>
    
    <table class="table w-75 p-2">
                <thead>
                    <tr>
                    <th scope="col">id</th>
                    <th scope="col">imagen</th>
                    <th scope="col">intrduccion</th>
                    <th scope="col">descripcion</th>
                    <th scope="col">Puntaje</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">{{noticia.id}}</th>
                        <td></td>
                        <td><p>{{noticia.introduccion}} </p></td>
                        <td><p>{{noticia.descripcion}}</p></td>
                        <td><p>{{noticia.puntaje}}</p></td>
                        </tr>
                    </tbody>
                </table>


</body>
</html>